<% this.title = '404 Not Found' %>
<% include header %>

<div class="padding">
    <div class="ui placeholder segment">
      <div class="ui icon header">
        <i class="question circle icon" style="margin-bottom: 20px; "></i>
        404 Not Found / 404見つかりません
      </div>
      <center>仿佛进入了无底的深渊</center>
        <br>
      <a href="javascript:window.history.go(-1);" class="ui primary labeled icon button">
        <i class="ui icon angle up"></i>
        返回
      </a>
    </div>
  <br>
</div>

<% include footer %>